.modal {
	position: fixed;
	background-color: rgba(0, 0 0, 0.6);
	z-index: 10000000;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	padding: 24px;

	&__container {
		max-width: 500px;
		background-color: rgba(255, 255, 255, 1);
		padding: 40px;
		border-radius: 8px;
		border: 2px solid rgba(0, 0 0, 1);

		p {
			margin: 8px 0 32px;
		}

		.btn {
			margin: 8px 0;
			width: calc(50% - 8px);
			font-weight: 700;

			&:first-child {
				margin-right: 16px;
			}
		}
	}

	&__content {
		margin-top: 24px;

		.title {
			margin-bottom: 8px;
		}

		textarea {
			width: 100%;
			min-height: 112px;
			border-radius: 4px;
			padding: 12px;
			border: 2px solid rgba(0, 0 0, 1);
		}
	}
}
