.modal {

	&__content {
		margin-top: 24px;

		.title {
			margin-bottom: 8px !important;
		}

		textarea {
			width: 100%;
			min-height: 112px;
			border-radius: 4px;
			padding: 12px;
			border: 2px solid palette(blue, 500);
		}
	}
}
